.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  padding: 10px 20px;
}

button {
  background-color: rgb(218, 235, 241);
}

input {
  padding: 10px 20px;
  width: 60px;
  font-size: 30px;
  text-align: center;
}

.quantity_plus:hover {
  color: green;
  font-weight: bold;
}

.quantity_minus:hover {
  color: red;
  font-weight: bold;
}

span {
  font-size: 30px;
}
